# Importando base de dados

In [14]:
import pandas as pd

In [15]:
pd.read_csv('tips.csv')

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [16]:
dados = pd.read_csv('tips.csv')

In [17]:
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

## Tradução

In [43]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [20]:
renomear = {'total_bill' : 'valor_da_conta',
            'tip' : 'gorgeta',
            'dessert': 'sobremesa',
            'day':'dia_da_semana',
            'time': 'hora_do_dia',
            'size': 'total_de_pessoa'}

In [44]:
type(dados)

pandas.core.frame.DataFrame

In [46]:
gorjetas = dados.rename(columns = renomear)

In [47]:
gorjetas.head()

,valor_da_conta,gorgeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoa
0,16.99,1.01,No,Sun,Dinner,2
1,10.34,1.66,No,Sun,Dinner,3
2,21.01,3.50,No,Sun,Dinner,3
3,23.68,3.31,No,Sun,Dinner,2
4,24.59,3.61,No,Sun,Dinner,4

### Verificar os tipos de array dentro da coluna

In [48]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [49]:
sim_nao = {
'No' : 'Não',
'Yes' : 'Sim'
}

In [53]:
gorjetas.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [54]:
gorjetas.sobremesa =  gorjetas.sobremesa.map(sim_nao)

In [55]:
gorjetas.head(1)

,valor_da_conta,gorgeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoa
0,16.99,1.01,Não,Sun,Dinner,2

In [57]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [58]:
dias = {'Sun': 'Domingo', 'Sat':'Sábado', 'Thur':'Quinta', 'Fri':'Sexta'}

In [59]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [63]:
gorjetas.head()

,valor_da_conta,gorgeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoa
0,16.99,1.01,Não,Domingo,Dinner,2
1,10.34,1.66,Não,Domingo,Dinner,3
2,21.01,3.50,Não,Domingo,Dinner,3
3,23.68,3.31,Não,Domingo,Dinner,2
4,24.59,3.61,Não,Domingo,Dinner,4

In [64]:
gorjetas.dia_da_semana.unique()

array(['Domingo', 'Sábado', 'Quinta', 'Sexta'], dtype=object)

In [66]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [67]:
hora = {'Dinner':'Jantar', 'Lunch':'Almoço'}
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [69]:
gorjetas.head(4)

,valor_da_conta,gorgeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoa
0,16.99,1.01,Não,Domingo,Jantar,2
1,10.34,1.66,Não,Domingo,Jantar,3
2,21.01,3.50,Não,Domingo,Jantar,3
3,23.68,3.31,Não,Domingo,Jantar,2

## O que aprendemos
Documentação Pandas: https://pandas.pydata.org/pandas-docs/stable/

## Principais comandos do pandas

Para importar o pandas segundo a convenção : **import pandas as pd**

Ler um arquivo do tipo csv chamado tips : **pd.read_csv('tips.csv')**

Exibir as 5 primeiras linhas do DataFrame : **tips.head()**

Exibir as 5 ultimas linhas do DataFrame : **tips.tail()**

Listar as colunas presentes no DataFrame : **tips.columns**

Exibir a quantidade de linhas e colunas presentes no DataFrame : **tips.shape**

Deletar uma coluna do DataFrame : **tips.drop('day', axis=1)**

# Comparando distribuições de maneira exploratória

## Importando Seaborn

In [84]:
! pip install seaborn==0.12.0

Collecting seaborn==0.12.0
  Downloading seaborn-0.12.0-py3-none-any.whl (285 kB)
     ---------------------------------------- 0.0/285.1 kB ? eta -:--:--
     -------------------------------------- 285.1/285.1 kB 8.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn==0.12.0) (1.24.2)
Requirement already satisfied: pandas>=0.25 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn==0.12.0) (1.5.3)
Requirement already satisfied: matplotlib>=3.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn==0.12.0) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (4.39.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib>=3.1->seaborn==0.12.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=0.25->seaborn==0.12.0) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn==0.12.0) (1.16.0)
Installing collected packages: seaborn
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.9.0
    Uninstalling seaborn-0.9.0:
      Successfully uninstalled seaborn-0.9.0
Successfully installed seaborn-0.12.0

In [85]:
import seaborn as sns

In [86]:
!pip show seaborn

Name: seaborn
Version: 0.12.0
Summary: Statistical data visualization
Home-page:
Author:
Author-email: Michael Waskom <mwaskom@gmail.com>
License:
Location: C:\Users\ppvne\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages
Requires: matplotlib, numpy, pandas
Required-by:

In [87]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.39.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [88]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\ppvne\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.24.2)

In [89]:
import matplotlib as plt
import numpy as np

## Análise 1 - Valor da conta e gorjeta

In [90]:
gorjetas.columns

Index(['valor_da_conta', 'gorgeta', 'sobremesa', 'dia_da_semana',
       'hora_do_dia', 'total_de_pessoa'],
      dtype='object')

# Analisando de forma visual e descritiva

# Comparando e explorando os dias da semana

# Distribuição de frequência e teste de hipótese